<ion-header>
  <ion-navbar>
    <ion-title>Collect Money</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="collectMoneyForm" novalidate *ngIf="collectMoneyForm">
    <ion-grid no-padding>
      <ion-row no-padding>

        <!-- <h1>Collect Money</h1> -->

        <ion-col col-10 offset-1>
          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Book Shop"}}</ion-label>
            <ion-select formControlName="book_shop_id" (ionChange)="getBookShop($event)">
              <div *ngFor="let bookShop of bookShops">
                <ion-option [value]="bookShop.id">{{bookShop.name}}</ion-option>
              </div>
            </ion-select>
          </ion-item>

          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Voucher No"}}</ion-label>
            <ion-select formControlName="voucher_no" (ionChange)="getBalance($event)">
              <div *ngFor="let voucher of vouchers">
                <ion-option [value]="voucher.voucher_no">{{voucher.voucher_no}}</ion-option>
              </div>
            </ion-select>
          </ion-item>

          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Payment Amount"}}</ion-label>
            <ion-input formControlName="payment_amount" type="number" required (keyup)="setPayment($event)"></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="collectMoneyForm.controls['payment_amount'].hasError('required') && collectMoneyForm.controls['payment_amount'].touched">Field is required !</span>

          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Balance"}}</ion-label>
            <ion-input formControlName="balance" type="number" [(ngModel)]="balance" readonly required></ion-input>
          </ion-item>

        </ion-col>

        <ion-col col-8 offset-2 style="padding-top: 5%;">
          <button ion-button full color="secondary" (click)="onSubmit(collectMoneyForm)">{{"save"}}</button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>
