<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">
    
    <ion-grid no-padding>
      
      <ion-row>
        <ion-col offset-1 col-10>
          <ion-item no-padding>
            <ion-label floating>Current Password</ion-label>
            <ion-input formControlName="current_password" type="password"></ion-input>
          </ion-item>

          <span class="errorMsg" *ngIf="changePasswordForm.controls['current_password'].hasError('required') && changePasswordForm.controls['current_password'].touched">Field is required !</span>

          <ion-item no-padding>
            <ion-label floating>New Password</ion-label>
            <ion-input formControlName="new_password" type="password"></ion-input>
          </ion-item>

          <span class="errorMsg" *ngIf="changePasswordForm.controls.new_password.touched && !changePasswordForm.controls.new_password.valid && changePasswordForm.controls.new_password.value.length > 0">Password with at least 6 length, one character, one special character and one number.</span>
          <span class="errorMsg" *ngIf="changePasswordForm.controls['new_password'].hasError('required') && changePasswordForm.controls['new_password'].touched">Field is required !</span>

          <ion-item no-padding>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input formControlName="confirm_password" type="password"></ion-input>
          </ion-item>
          
          <span class="errorMsg" *ngIf="changePasswordForm.controls.confirm_password.touched && !changePasswordForm.controls.confirm_password.valid && changePasswordForm.controls.confirm_password.value.length > 0">Password with at least 6 length, one character, one special character and one number.</span>
          <span class="errorMsg" *ngIf="changePasswordForm.controls['confirm_password'].hasError('required') && changePasswordForm.controls['confirm_password'].touched">Field is required !</span>
        </ion-col>  

        <ion-col col-8 offset-2 style="padding-top: 5%;">
          <button ion-button full color="secondary" type="submit" [disabled]="!changePasswordForm.valid">{{"Change"}}</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
  