page-home {
    .request-button{
        height: 40%; 
        margin-top: 30%;
    }

    .timeline_btn{
        height: 180px;
        text-align: center;
        font-size: 2em;
        color: #ffffff;
        padding: 40px 0 0 0;
        b{
            font-size: 0.7em;
            display: block;
        }
    }

    ion-card{
        ion-icon{
            font-size: 2.5em;
        }
    }
}
