<ion-header>
  <ion-navbar>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changePassword()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-12 (click)="bookOnShelf()">
      <ion-card class="timeline_btn" style="background-color: #f53d3d !important;"><ion-icon name="book"></ion-icon><b>Book on Shelf</b></ion-card>
    </ion-col>
    <ion-col col-12 (click)="collectMoney()">
      <ion-card class="timeline_btn" style="background-color: #16c7db !important;"><ion-icon name="cash"></ion-icon><b>Collecting Money</b></ion-card>
    </ion-col>
  </ion-row>
</ion-content>
