<section id="striped-light">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ "stock report" | translate }}</h4>
        </div>
        <div class="card-body widget-body">
          <div class="card-block">
              <div class="row">
                <div class="col" style="overflow:auto">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Book Name</th>
                        <th>Balance Qty</th>
                        <th>Sold Out Qty</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let record of recordData">
                        <td>{{record.name}}</td>
                        <td>{{record.balance}}</td>
                        <td>{{record.soldout}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>