<ar-back-button (click)="doBack()"></ar-back-button>
<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <h4 class="card-title ">{{ "distributor_detail" | translate }}</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form (ngSubmit)="onSubmit(recordForm)" [formGroup]="recordForm">
                        <div class="row">
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">{{ "name" | translate }}</label>
                                    <input type="text" class="form-control checking-field" formControlName="name" name="name">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('name').touched && recordForm.get('name').hasError('required')">Field is required</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="password">{{ "password" | translate }}</label>
                                    <input type="password" class="form-control checking-field" formControlName="password" name="password">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('password').touched && recordForm.get('password').hasError('required')">Field is required</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Phone">{{ "phone" | translate }}</label>
                                    <input type="text" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" class="form-control checking-field" formControlName="phone" name="phone">
                                    <span class="help-block text-danger" floating *ngIf="recordForm.controls.phone.touched && !recordForm.controls.phone.valid && recordForm.controls.phone.value.length > 0">Invalid Phone</span>
                                    <!-- <span class="help-block text-danger" *ngIf="recordForm.get('phone').touched && recordForm.get('phone').hasError('required')">Field is required</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="Nrc">{{ "nrc" | translate }}</label>
                                <input type="text" class="form-control checking-field" formControlName="nrc" name="nrc">
                                <span class="help-block text-danger" *ngIf="recordForm.get('nrc').touched && recordForm.get('nrc').hasError('required')">Field is required</span>
                                <span class="errorMsg text-danger" *ngIf="recordForm.controls.nrc.touched && !recordForm.controls.nrc.valid && recordForm.controls.nrc.value.length > 0">Wrong NRC No</span>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="address">{{ "address" | translate }}</label>
                                <input type="text" class="form-control checking-field" formControlName="address" name="address">
                                <!-- <span class="help-block text-danger" *ngIf="recordForm.get('address').touched && recordForm.get('address').hasError('required')">Field is required</span> -->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="Gender">{{ "gender" | translate }}</label>
                                <input type="text" class="form-control checking-field" formControlName="gender" name="gender">
                                <!-- <span class="help-block text-danger" *ngIf="recordForm.get('gender').touched && recordForm.get('gender').hasError('required')">Field is required</span> -->
                            </div>
                          </div>
                        </div>
                        <div class="form-actions right">
                            <ar-back-button (click)="doBack()"></ar-back-button>
                            <ar-submit-button></ar-submit-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>