<ion-content padding>

  <form [formGroup]="loginForm" novalidate *ngIf="loginForm">

    <ion-grid no-padding>
      <ion-row no-padding>

        <h1>Login</h1>

        <ion-col col-10 offset-1>
          <ion-item padding style="background-color:transparent">
            <ion-label floating>
              <ion-icon ios="ios-person" md="md-person"></ion-icon>
              {{"Name"}}
            </ion-label>
            <ion-input formControlName="name" type="text" required></ion-input>
          </ion-item>
          
          <ion-item padding style="background-color:transparent">
            <ion-label floating>
              <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
              {{"Password"}}
            </ion-label>
            <ion-input formControlName="password" [type]="pwInputType" required></ion-input>
            <button ion-button clear item-end (click)="seePassword()" *ngIf="seen"><ion-icon name="eye" color="secondary"></ion-icon></button>
            <button ion-button clear item-end (click)="seePassword()" *ngIf="!seen"><ion-icon name="eye-off" color="secondary"></ion-icon></button>
          </ion-item>
        </ion-col>

        <ion-col col-8 offset-2 style="padding-top: 5%;">
          <button ion-button full color="secondary" (click)="login(loginForm)">{{"login"}}</button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </form>

</ion-content>