page-book-on-shelf {
    .section{
        margin: 30px 0 0 0;
        p.title{
            color: #2ac87d;
            font-size: 1.2em;
            border-bottom: 1px solid #2ac87d;
            ion-icon{
                position: relative;
                top: 2px;
            }
        }
        ion-icon{
            font-size: 1.5em !important;
        }
        & > ion-icon{
            position: absolute;
            right: 0;
            top: 30px;
            &.add{
                color: #fff;
                font-weight: bold;
                text-align: center;
                line-height: 21px;
                width: 20px;
                height: 20px;
                background-color: #2ac87d;
                float: right;
            }
            &.edit{
                color: #2ac87d;
                right: 34px;
            }
            &.trash{
                color: #f53d3d;
                right: 0;
            }
        }
        .add {
            float: right;
        }
    }

    .errorMsg{
        color: #f53d3d;
        margin: 5px 0 0 0;
        display: inline-block;
    }
}
