<ion-header>
  <ion-navbar>
    <ion-title>Book on Shelf</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="invoiceForm" novalidate *ngIf="invoiceForm">
    <ion-grid no-padding>
      <ion-row no-padding>

        <!-- <h1>Invoice</h1> -->

        <ion-col col-10 offset-1>
          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Voucher No"}}</ion-label>
            <ion-input formControlName="voucher_no" type="text" required></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="invoiceForm.controls['voucher_no'].hasError('required') && invoiceForm.controls['voucher_no'].touched">Field is required !</span>
          
          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Book Shop"}}</ion-label>
            <ion-select formControlName="book_shop_id">
              <div *ngFor="let bookShop of bookShops">
                <ion-option [value]="bookShop.id">{{bookShop.name}}</ion-option>
              </div>
            </ion-select>
          </ion-item>
          <span class="errorMsg" *ngIf="invoiceForm.controls['book_shop_id'].hasError('required') && invoiceForm.controls['book_shop_id'].touched">Field is required !</span>

          <ion-col offset-1 col-10>
            <div class="section">
              <p class="title">
                <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
                Books
                <ion-icon ios="ios-add" md="md-add" (click)="addBook(i)" class="add"></ion-icon>
              </p>
              
              <div class="row" *ngFor="let item of item_arr; let i = index">
                <div class="col">{{item.book_name}}</div>
                <div class="col" text-right style="padding-right: 0;">
                  <ion-icon ios="ios-trash" md="md-trash" color="danger" (click)="doDeleteBook(i)"></ion-icon>                    
                </div>
              </div>
            </div>
          </ion-col>

          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Total"}}</ion-label>
            <ion-input formControlName="total_amount" type="number" [(ngModel)]="total_amount"></ion-input>
          </ion-item>

        </ion-col>

        <ion-col col-8 offset-2 style="padding-top: 5%;">
          <button ion-button full color="secondary" (click)="onSubmit(invoiceForm)">{{"save"}}</button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>
