<ion-header>
  <ion-navbar>
    <ion-title>
      <span>Add Book</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <form [formGroup]="bookForm" novalidate *ngIf="bookForm">

    <ion-grid no-padding style="margin-bottom: 40px;">
      <ion-row> 
        <ion-col offset-1 col-10>
          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Book"}}</ion-label>
            <ion-select formControlName="book_id" [(ngModel)]="book">
              <div *ngFor="let book of books">
                <ion-option [value]="book">{{book.name}}</ion-option>
              </div>
            </ion-select>
          </ion-item>
          <span class="errorMsg" *ngIf="bookForm.controls['book_id'].hasError('required') && bookForm.controls['book_id'].touched">Field is required !</span>

          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Price"}}</ion-label>
            <ion-input formControlName="price" type="number" [(ngModel)]="price" (keyup)="sum()"></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="bookForm.controls['price'].hasError('required') && bookForm.controls['price'].touched">Field is required !</span>

          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Qty"}}</ion-label>
            <ion-input formControlName="qty" type="number" [(ngModel)]="qty" (keyup)="sum()"></ion-input>
          </ion-item>
          <span class="errorMsg" *ngIf="bookForm.controls['qty'].hasError('required') && bookForm.controls['qty'].touched">Field is required !</span>

          <ion-item padding style="background-color:transparent">
            <ion-label floating>{{"Total"}}</ion-label>
            <ion-input formControlName="total" type="number" [(ngModel)]="total"></ion-input>
          </ion-item>

        </ion-col>

        <ion-col col-8 offset-2 style="padding-top: 20px;">
          <button ion-button full color="secondary" type="button" (click)="addBook(bookForm)">{{"Add"}}</button>
        </ion-col>
        
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
