<div class="row">
  <div class="col-12 bottom-30">
    <div widget class="card o-visible">
      <div class="card-header">
        <h4 class="card-title">{{ "sale report" | translate }}</h4>
      </div>
      <div class="card-block">
        <div class="card-content">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="distributor">{{ "distributor" | translate }}</label>
                <!-- <input type="distributor" class="form-control" placeholder='{{ "distributor" | translate }}' [(ngModel)]="search.distributor"> -->
                <select class="form-control checking-field" placeholder="Select" name="distributor" [(ngModel)]="search.distributor" (ngModelChange)="onChange($event)">
                  <option *ngFor="let distributor of distributors" [ngValue]="distributor.id">{{distributor.name}}</option>                                  
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="book_shop">{{ "book shop" | translate }}</label>
                <select class="form-control checking-field" placeholder="Select" name="book_shop" [(ngModel)]="search.book_shop">
                  <option *ngFor="let item of bookShops" [ngValue]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 text-center">
              <ar-search-filter-button (click)="getData()" [ngClass]="(search.distributor == null || search.book_shop == null) ? 'disabled' : ''"></ar-search-filter-button>
              <ar-clear-filter-button (click)="clearFilter()"></ar-clear-filter-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="striped-light">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ "sale report" | translate }}</h4>
        </div>
        <div class="card-body widget-body">
          <div class="card-block">
              <div class="row">
                <div class="col" style="overflow:auto">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <!-- <th></th> -->
                        <th>Voucher No</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Cash Date</th>
                        <th>Amount</th>
                        <th>Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let record of recordData">
                        <!-- <td>i+1</td> -->
                        <td>{{record.voucher_no}}</td>
                        <td>{{record.date}}</td>
                        <td>{{record.total}}</td>
                        <td>{{record.cash_date}}</td>
                        <td>{{record.amount}}</td>
                        <td>{{record.balance}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>